<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <header>
        <%- include('./partials/nav.ejs') %>
    </header>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="mainSecion">
      
   
      <div class="wrapper">

         <div class="calendar">
            <header>
               <h3></h3>
               <nav>
                  <button id="prev"></button>
                  <button id="next"></button>
               </nav>
            </header>
            <section>
               <ul class="days">
               <li>Pon</li>
               <li>Wto</li>
               <li>Śro</li>
               <li>Czw</li>
               <li>Pią</li>
               <li style="color: red;">Sob</li>
               <li style="color: red;">Nie</li>
            </ul>
            <ul class="dates"></ul>
            </section>
         </div>

         <div class="container">

            <form id='form' method="POST" action="/post">
               <div class="form-group">
                  <label for="email">Email *</label>
                  <input id='email' type='email' name='email' required>
               </div>
               <div class="form-group">
                  <label for="phone_number">Nr Telefonu *</label>
                  <input id='phone_number' type='number' name='phone_number' required>
               </div>
               <div class="formDate">
                  <label for="start_date">Od </label>
                  <input id='start_date' type='date' name='start_date' readonly required>
                  
                  <label for="end_date">Do </label>
                  <input id='end_date' type='date' name='end_date' readonly required>
               </div>
               <div class="formSauna">
                  <label for="saunas">Ilość Saun: </label>
                  <div style="margin-left: 40px;">
                     <button class="subtract">-</button>
                     <input id='saunas' type='number' name='saunas' value="0" required readonly>
                     <button class="add">+</button>
                  </div>
                  
               </div>
               <div class="form-group">
                  <label for="desc">Potrzebujesz FV?<br>
                     Chcesz zabrać zwierzęta?<br>
                      Napisz w uwagach</label>
                  <input id='desc' type='text' name='desc' >
               </div>

               <div class="payment">
                  <p>
                     Do Zapłaty: 
                  </p>
                  <input id='price' type='number' name='price' value="0"  required readonly>
                  <p>zł</p>
               </div>
               <br>
               <div class="payment">
                  <input type="checkbox" id="terms" name="terms" required>
                  <label for="terms" style="margin-left: 12px;">Akceptuję <a href="#regulamin" target="_blank">regulamin</a> i <a href="/polityka-prywatnosci" target="_blank">politykę prywatności</a></label>
               </div>
               <br>
               <div class="error-message" style="color: red; display: none;">Wybierz termin przed zarezerwowaniem!</div>

               <div class="form-group">
                     <input type="submit" value="Zarezerwuj">
               </div>
            </form>

         </div>


      </div>
    </div>
    <section class="mainSection">
      <div id="regulamin" class="statue">
         
         <h1>Regulamin „Leśny Zakątek”</h1>
         <br>

         <ul>
            <li>Dopuszczalna liczba osób przebywających w domku wynosi maksymalnie 15. Przekroczenie tej liczby może skutkować dodatkowymi opłatami lub odwołaniem rezerwacji.</li>
            <li>Wpłata zaliczki na rezerwację jest konieczna w celu potwierdzenia rezerwacji. Zaliczka nie jest zwracana w przypadku anulacji rezerwacji.</li>
            <li>Wynajmujący ponosi pełną odpowiedzialność za wszelkie zniszczenia w domku spowodowane przez siebie, towarzystwo, ewentualne zwierzęta oraz niewłaściwe używanie sprzętów i wyposażenia.</li>
            <li>W przypadku wniesienia zwierząt do domu, konieczne jest uzyskanie wcześniejszej zgody właściciela oraz uiszczenie dodatkowej opłaty za zwierzę.</li>
            <li>Opłata za zwierzę jest ustalana indywidualnie i zależy od rodzaju oraz liczby zwierząt.</li>
            <li>Korzystanie ze wszystkich sprzętów, urządzeń i wyposażenia w domku musi odbywać się zgodnie z ich przeznaczeniem oraz z zachowaniem należytej ostrożności.</li>
            <li>Wynajmujący zobowiązany jest do zachowania porządku oraz dbałości o porządek w domku w kontekście obecności zwierząt.</li>
            <li>Zakazuje się wprowadzania zwierząt agresywnych lub niebezpiecznych do domku.</li>
            <li>Obowiązkiem wynajmującego jest zachowanie porządku oraz dbałość o porządek w domku i na terenie posesji.</li>
            <li>Zakazuje się organizowania imprez oraz zachowań zakłócających spokój okolicznych mieszkańców.</li>
            <li>Obowiązuje cisza nocna w godzinach 22:00–7:00.</li>
            <li>W przypadku naruszenia postanowień regulaminu, właściciel ma prawo odmówić dalszego wynajmu i zażądać opuszczenia posesji.</li>
            <li>Wynajem domu odbywa się na własne ryzyko wynajmującego, właściciel nie ponosi odpowiedzialności za utratę lub uszkodzenie mienia osobistego.</li>
            <li>W przypadku skrócenia pobytu, opłata za niewykorzystany okres nie podlega zwrotowi.</li>
            <li>Doba hotelowa rozpoczyna się o godzinie 16:00 w dniu przyjazdu i kończy o godzinie 11:00 w dniu wyjazdu.</li>
            <li>Najemca zobowiązany jest do poinformowania Wynajmującego o planowanej godzinie przyjazdu i wyjazdu z co najmniej 24-godzinnym wyprzedzeniem. W przypadku opóźnienia w przyjeździe, Najemca zobowiązany jest niezwłocznie poinformować Wynajmującego.</li>
            <li>Rezerwacja Domku następuje po telefonicznym lub mailowym uzgodnieniu terminu i warunków najmu oraz wpłacie zadatku w wysokości 1000 zł. Pozostałą część opłaty za wynajem Najemca zobowiązany jest uiścić przelewem na konto Wynajmującego lub gotówką w dniu przyjazdu.</li>
            <li>Domek przeznaczony jest do użytku wyłącznie dla osób zameldowanych.</li>
            <li>Zabrania się:
               <ul>
                  <li>Oddawania Domku w podnajem.</li>
                  <li>Palenia tytoniu wewnątrz Domku.</li>
                  <li>Przestawiania mebli bez zgody Wynajmującego.</li>
                  <li>Niszczenia wyposażenia i mienia.</li>
                  <li>Korzystania z niezabezpieczonego grilla oraz źródeł ognia w pobliżu Domku poza miejscami do tego przeznaczonymi.</li>
                  <li>Przebywania zwierząt w Domku bez uprzedniej zgody Wynajmującego.</li>
               </ul>
            </li>
            <li>W przypadku zauważenia jakichkolwiek usterek lub uszkodzeń, Najemca zobowiązany jest do niezwłocznego powiadomienia Wynajmującego.</li>
            <li>Wynajmujący nie ponosi odpowiedzialności za rzeczy pozostawione w Domku.</li>
            <li>Wynajmujący nie ponosi odpowiedzialności za jakiekolwiek szkody powstałe w wyniku nieprzestrzegania niniejszego Regulaminu.</li>
            <li>Wynajmujący nie ponosi odpowiedzialności za utratę lub uszkodzenie mienia Najemcy, w tym pojazdów mechanicznych.</li>
         </ul>


         

      </div>
      
    </section>

    <%- include('./partials/footer.ejs') %>
    

    <script>
        const reservations = JSON.parse('<%- JSON.stringify(rents) %>');
        const prices = JSON.parse('<%- JSON.stringify(priceList) %>');
    </script>
    

    <script type="text/javascript" src="/js/calendarScript.js"></script>
</body>
</html>

