<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <header>
        <%- include('./partials/nav.ejs') %>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    

    <section class="gallery">

        <% images.forEach((image, index) => { %>
            <div class="gallery-item" data-index="<%= index %>">
                <img src="/img/<%= image.filename %>" alt="<%= image.alt_text %>">
            </div>
        <% }); %>

         <div class="image-viewer">
            <button class="viewer-close">&times;</button>
            <button class="viewer-nav viewer-nav-prev">&#10094;</button>
            <div class="viewer-content">
                <img class="viewer-image" src="" alt="Full view image">
            </div>
            <button class="viewer-nav viewer-nav-next">&#10095;</button>
        </div>
        
    </section>
    <div class="middle">
        <section class="buttonReserve">

        <a href="/form">Sprawdź wolne terminy!</a>
    </section>


    </div>

    




    <br>

    <script type="text/javascript" src="/js/gallery.js"></script>

        



    <%- include('./partials/footer.ejs') %>
</body>
</html>